{% extends 'base.html' %}
{% block titulo %}
    Editar Categoria
{% endblock %}

{% block conteudo %}
    <h1> Editar Categoria</h1>
        <form method="POST" action="{% url 'categoria_editada' pk %}">
            {% csrf_token %}

            {{ form }}

        <input type="hidden" name="c.id" value="{{ pk }}">
        <a href="{% url 'deletar_categoria' pk %}" class="btn btn-danger" id="toggleNavColor">Deletar</a>
        <input type="submit" value="Atualizar">
        </form>

{% endblock %}